name: 2022 - Tests (JS)

on:
  push:
    paths:
      - 2022/**
      - .github/workflows/2022*

env:
  NODE_VERSION: 18.x
  YEAR: 2022

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: ./${{ env.YEAR }}/package-lock.json

      - run: npm ci
        working-directory: ./${{ env.YEAR }}

      - run: npm test
        working-directory: ./${{ env.YEAR }}
