name: On Push - 2022

on:
  push:
    paths:
      - 2022/**

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./2022/package-lock.json

      - run: npm ci
        working-directory: ./2022

      - run: npm test
        working-directory: ./2022
